{% extends "base.html" %}
{% load cms_tags %}

{% block title %}<title>Uniosservis.cz | Error 500</title>{% endblock title %}

{% block header %}
<div class="hero hero-pages mb-5">
	<div class="banner-nadpis text-white text-center">
		<h2>Error 500</h2>
	</div>
</div>
{% endblock header %}

{% block content %}
  <div class="text-center">
    <h2 class="mb-4">Stránka nenalezena</h2>
    <p class="mb-5">Požadovaná stránka bohužel nebyla nalezena. Pokračujte na hlavní stránku <a href="/">zde</a>.</p>
  </div>
{% endblock content %}