{% load cms_tags menu_tags sekizai_tags cms_static static %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>Uniosservis.cz | {% page_attribute 'page_title' %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Uniosservis.cz - Opravy a modernizace konvenčních obráběcích strojů">
	  <meta name="keywords" content="Uniosservis.cz, uniosservis, unios, Lipník nad Bečvou, obráběcí stroje, opravy, opravy a modernizace, soustruh, soustruhy, servis, servis a údržba, údržba, náhradní díly, nákup, prodej">
    <meta name="author" content="Lukáš Sukeník">

    <script src="https://kit.fontawesome.com/7ffc9ccdb4.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}
    
    {% include "includes/nav.html" %}

    {% block header %}
    <div class="hero hero-pages mb-5">
      <div class="banner-nadpis text-white text-center">
        <h1>{% page_attribute 'page_title' %}</h1>
      </div>
    </div>
    {% endblock header %}

    <div class="preloader">
      <img src="{% static 'img/kolo.png' %}" alt="Chyba v načtení obrázku preloaderu">
    </div>

    <main class="container">
      {% block content %}{% endblock content %}
    </main>

    {% include "includes/collaboration.html" %}

    <div class="nadpis" id="kontakt">
      <a href="/kontakty#formular">Kontaktujte nás ještě <u>dnes</u></a>!
    </div>
  
    <footer class="text-center text-white">
        <p>&copy; 2020 UNIOS SERVIS s.r.o.</p>
        <a href="/admin">Administrace</a>
    </footer>
  
    <div id="scrollToTop">
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% render_block "js" %}
  </body>
</html>