/* Declaring global variables */
:root {
    --default-blue: #42698c;
    --second-blue: #4e8abe;
    --default-grey: #1b1d20;
    --second-grey: #636363;
    --button-grey: #343a40;
    --nav-link-color: #0c67b6;
    --ani-ico-1: rotate(0deg);
    --ani-ico-2: rotate(135deg);
    --ani-ico-3: rotate(-135deg);
    --ani-trans-1: .5s ease-in-out;
    --ani-trans-2: .25s ease-in-out;
}

/* Mouse selection settings */
::selection, ::-moz-selection {
    color: white;
	background-color: var(--second-blue);
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Font */
body {
    font-family: "Poppins",sans-serif;    
}

/* Headings */
/* h1 - main title; h2 - subtitle, h3 - sections, cards with gears; h4 - text with blue strip, headings in paragraphs + contacts */
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.4em;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.5em;
}

/* Fix horizontal scroll */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
nav {
    height: 55px;
    display: block;
}

.nav li {
    margin: 10px;
    border: none;
    position: relative;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 100%;
}

.nav li a {
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.nav a:hover {
    text-decoration: none;
}

nav:not(.scrolled) a::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 1px;
    left: 50%;
    bottom: 0;
    background-color: white;
    transition: all ease-in-out .25s;
}

.nav a:hover::after {
    width: 100%;
    left: 0;
}

.navbar.bg-dark.scrolled a:hover {
    color: var(--nav-link-color);
}

#myNavbar li {
    font-size: 0.8rem;
}

/* Navbar scrolling */
header .bg-dark {
    background: transparent !important;
    transition: 0.75s ease;
}

header .bg-dark.scrolled {
    background: var(--default-grey) !important;
}

/* Navbar under the CMS Admin bar when logged */
.cms-toolbar-expanded body,
.cms-toolbar-expanded .fixed-top{
    top: 45px;
}

/* Banner */
.hero {
    background: url("../img/banner_unios.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-home {
    height: 360px;
    padding-top: 100px;
}

.hero-pages {
    height: 240px;
    padding-top: 110px;
}

.hero-home h1 {
    font-size: 5rem;
    font-weight: 800;
}

.hero-pages h1 {
    font-weight: 600;
}

.banner-nadpis #slogan {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.banner-nadpis button, .btn-dark {
    font-size: 1.1rem;
    padding: 8px 15px;
    border-radius: 8px;
}

.btn-dark {
    background-color: var(--default-grey);
    border-color: var(--default-grey);
}

.btn-dark:hover {
    background-color: var(--button-grey);
    border-color: var(--button-grey);
}

.btn-light {
    background-color: white;
    border-color: white;
}

.btn-light:hover {
    background-color: #c7c7c7;
    border-color: #c7c7c7;
}

/* Cards */
.card {
    color: white;
    width: auto;
    height: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: var(--default-blue);
}

.cards-home .card:hover,
.cards-contact .card:hover {
    background-color: var(--second-blue);
}

.cards-home a {
    color: white;
}

.cards-contact a {
    color: #b4b4b4;
}

.cards-contact .card:hover a {
    color: #d3d3d3;
}

.card:hover img {
    animation: rotate360 5s infinite linear;
}

.card-body img {
    margin-top: -60px;
    margin-bottom: 15px;
}

/* Website elements */
.sekce {
    margin-top: 40px;
}

.sekce h3 {
    padding: 20px;
    color: white;
    background-color: var(--default-blue);
}

.sekce a:hover {
    text-decoration: none;
}

.sekce a:hover h3 {
    background-color: var(--second-blue);
}

.sekce a:hover h3, 
.sekce a:hover img {
    box-shadow: #000000aa 2px 2px 15px;
}

.rozsirene-sluzby {
    font-size: 0.85rem;
}

.text-prouzek {
    margin: 0px 0px 20px 50px;
    padding: 15px 0px 5px 10px;
    border-left: 5px solid var(--default-blue);
}

ul {
    list-style-image: url("../img/kolo_li.png");
}

.nadpis {
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 35px;
    margin-top: 25px;
}

.fotky img {
    margin-bottom: 5px;
}

.o-nas p {
    font-size: 1.1rem;
}

/* Gallery */
.light-gallery-plugin img {
    margin-left: 2px;
    margin-bottom: 7px;
}

/* Collaboration img */
#spolupracujeme {
    background-color: var(--second-grey);
    margin-bottom: 10px;
}

#spolupracujeme-firmy img {
    -webkit-filter: grayscale(1); 
    filter: grayscale(1); 
}

#spolupracujeme-firmy img:hover {
    -webkit-filter: grayscale(0); 
    filter: none;
}

/* Contact us */
#kontakt {
    background-color: var(--default-blue);
}

#kontakt a {
    color: white;
}

.coi {
    font-size: 0.8rem;
}

/* Footer */
footer {
    background-color: var(--default-grey);
    padding: 35px;
    font-size: 1rem;
}

footer a {
    font-size: 0.9rem;
}

/* Forms */
label, button {
    margin-top: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 5px;
}

fieldset button {
    background-color: var(--default-blue);
    border-color: var(--default-blue);
    border-width: 1px;
    border-radius: 8px;
    color: white;
    padding: 8px;
}

.cms-form p {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 1rem;
    color: red;
}

/* Mobile responsive navbar */ 
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active a:hover {
    color: var(--nav-link-color);
}

body.mobile-nav-active .nav a::after {
    visibility: hidden;
}

.mobile-nav { 
    display: none;
}

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: -12px -15px;
    -webkit-transform: var(--ani-ico-1);
    -moz-transform: var(--ani-ico-1);
    -o-transform: var(--ani-ico-1);
    transform: var(--ani-ico-1);
    -webkit-transition: var(--ani-trans-1);
    -moz-transition: var(--ani-trans-1);
    -o-transition: var(--ani-trans-1);
    transition: var(--ani-trans-1);
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: var(--ani-ico-1);
    -moz-transform: var(--ani-ico-1);
    -o-transform: var(--ani-ico-1);
    transform: var(--ani-ico-1);
    -webkit-transition: var(--ani-trans-2);
    -moz-transition: var(--ani-trans-2);
    -o-transition: var(--ani-trans-2);
    transition: var(--ani-trans-2);
}

.animated-icon span {
    background: white;
}

.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2) {
    top: 10px;
}

.animated-icon span:nth-child(3) {
    top: 20px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: var(--ani-ico-2);
    -moz-transform: var(--ani-ico-2);
    -o-transform: var(--ani-ico-2);
    transform: var(--ani-ico-2);
}

.animated-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: var(--ani-ico-3);
    -moz-transform: var(--ani-ico-3);
    -o-transform: var(--ani-ico-3);
    transform: var(--ani-ico-3);
}

/* Disable default Bootstrap navigation toggler button for small devices */
.navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Scrolling to top of the page */
#scrollToTop {
    display: none;
    position: fixed;
    border: none;
    outline: none;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    background-color: var(--default-grey);
    color: white;
    cursor: pointer;
}

#scrollToTop:hover {
    background: var(--button-grey);
}

/* Preloader */
.preloader {
    background: var(--default-blue);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img {
    animation: rotate360 3s infinite linear;
}

.preloader-disappeared {
    animation: disappear 1.5s forwards;
}

/* Keyframes */
@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Media settings - Hero image */
@media screen and (min-width: 2000px){   
    .hero-home h1 {
        font-size: 6rem;
    }

    .hero-pages h1 {
        font-size: 4rem;
    }

    .banner-nadpis p {
        font-size: 1.75rem;
    }

    #myNavbar li {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 768px){
    .hero-home {
        height: 280px;
        padding-top: 80px;
    }
    
    .hero-pages {
        height: 200px;
        padding-top: 100px;
    }

    .hero-home h1 {
        font-size: 4rem;
    }

    .hero-pages h1 {
        font-size: 3rem;
    }

    .banner-nadpis #slogan {
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
    }

    .h-margin-top h2,
    .h-margin-top h3 {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px){
    .hero-pages h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 524px){
    .hero-home h1 {
        font-size: 3rem;
    }

    .hero-pages h1 {
        font-size: 2rem;
    }

    .banner-nadpis #slogan {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }
}

/* Media settings + headings */
@media screen and (max-width: 425px){
    .hero-home h1 {
        font-size: 2.25rem;
    }

    .hero-pages h1 {
        font-size: 1.75rem;
    }

    .banner-nadpis #slogan {
        font-size: 0.9rem;
    }

    .banner-nadpis button {
        font-size: 1rem;
    }

    h2, .nadpis {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.0rem;
    }

    p, li, label, input {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px){
    h4 {
        font-size: 0.8rem;
    }
}

/* Media settings - Font size of navigation bar links to individual pages */
@media screen and (max-width: 1300px){
    #myNavbar li {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1016px) and (max-width: 1205px){
    #myNavbar li {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1016px){
    #myNavbar li {
        font-size: 0.45rem;
    }
}

/* Media settings - Mobile navigation bar */
@media (max-width: 991px){
    .mobile-nav {
        display: block;
    }
    
    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 40%;
        padding: 25px 15px 0px 15px;
        overflow-y: auto;
        visibility: hidden;
        background-color: rgba(0,0,0,0.95);
        transition: all 0.4s;
        height: 100%;
        overflow: hidden;
    }

    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(100%);
    }

    #myNavbar li {
        font-size: 1rem;
        padding-top: 15px;
    }
}

/* Media settings - More mobile settings of navigation bar sizes */
@media (max-width: 616px){
    .navbar-collapse {
        width: 60%;
    }
}

@media (max-width: 412px){
    #myNavbar li {
        font-size: 0.75rem;
    }
}

@media (max-width: 330px){
    #myNavbar li {
        font-size: 0.6rem;
    }
}