/* Font */
body {
    font-family: "Poppins",sans-serif;
}

/* Fix horizontal scroll */
html, body {
    max-width: 100%;
    overflow-x: hidden;
 }

/* Navbar */
nav {
    height: 55px;
}

.nav li a {
    color: white;
    margin: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.nav a:hover {
    color: #636363;
    text-decoration: none;
}

.nav .bg-dark.scrolled a:hover {
    color: #005bbd;
}

#myNavbar li {
    font-size: 0.75rem;
}

/* Navbar scrolling */
header .bg-dark {
    background:transparent !important;
    transition:0.75s ease;
}
header .bg-dark.scrolled {
    background:#1b1d20 !important;
}

/* Navbar under the CMS Admin bar when logged */
.cms-toolbar-expanded body, .cms-toolbar-expanded .fixed-top{
    top: 45px;
}

/* Banner */
.hero {
    background: url("../img/banner_unios.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 360px;
    padding-top: 140px;
}

.banner-nadpis h1 {
    font-size: 4rem;
    font-weight: 700;
}

.banner-nadpis p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 20px;
}

/* Karticky */
.card {
    color: white;
    width: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: #42698c;
}

.cards-home .card:hover {
    background-color: #4e8abe;
}

.card-body img {
    margin-top: -60px;
    margin-bottom: 15px;
}

/* Elementy stránek */
.text-prouzek {
    margin: 0px 0px 20px 50px;
    padding: 15px 0px 5px 10px;
    border-left: 5px solid #42698c;
}

ul {
    list-style-image: url("../img/kolo_li.png");
}

.nadpis {
    text-align: center;
    color: white;
    background-color: #42698c;
    padding: 35px;
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Galerie */
.light-gallery-plugin {
    margin-top: 50px;
}

.light-gallery-plugin img {
    margin-left: 2px;
    margin-bottom: 7px;
}

/* Collaboration img */
#spolupracujeme img {
    -webkit-filter: grayscale(1); 
    filter: grayscale(1); 
}

#spolupracujeme img:hover {
    -webkit-filter: grayscale(0); 
    filter: none;
}

/* Footer */
footer {
    background-color: #1b1d20;
    margin-top: 40px;
    padding: 25px;
}

/* Forms */

/* Mobile Responsive Navbar */ 

/* Media settings */
@media screen and (min-width: 2000px){
    .hero {
        height: 480px;
        padding-top: 180px;
    }

    .banner-nadpis h1 {
        font-size: 6rem;
    }

    .banner-nadpis p {
        font-size: 1.75rem;
    }

    #myNavbar li {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 768px){
    .hero {
        height: 240px;
        padding-top: 80px;
    }

    .banner-nadpis h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 576px){
    .banner-nadpis h1 {
        font-size: 2.75rem;
    }

    .banner-nadpis p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px){
    .banner-nadpis h1 {
        font-size: 2.25rem;
    }
}


@media screen and (max-width: 1300px){
    #myNavbar li {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1016px) and (max-width: 1205px){
    #myNavbar li {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1016px){
    #myNavbar li {
        font-size: 0.45rem;
    }
}
/* Basic color */
/* #42698c */