{% load static %}
<div class="nadpis" id="spolupracujeme">
    <h2>Spolupracujeme</h2>
</div>
<div class="row p-3" id="spolupracujeme-firmy">
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/ostroj.png' %}" alt="OSTROJ a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/skoda_auto.png' %}" alt="ŠKODA AUTO a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/veolia.png' %}" alt="VEOLIA VODA" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/aco.png' %}" alt="ACO Industries k.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/john-crane.png' %}" alt="John Crane a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/bba.png' %}" alt="BBA Pumps Hranice, s.r.o." class="img-fluid">
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/motor-lucina.png' %}" alt="Motor Lučina spol. s r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/hanke-strojirna.png' %}" alt="HANKE STROJÍRNA, s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/tatra-trucks.png' %}" alt="TATRA TRUCKS a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/ceska-zbrojovka.png' %}" alt="Česká zbrojovka a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/kavalier-tec.png' %}" alt="KAVALIER TEC, s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/policske-strojirny.png' %}" alt="Poličské strojírny a.s." class="img-fluid">
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/siemens.png' %}" alt="SIEMENS AG" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/cez.png' %}" alt="ČEZ Energetické produkty, s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/tatra-metalurgie.png' %}" alt="Tatra Metalurgie a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/fmt-group.png' %}" alt="F.M.T. Group s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/preciosa.png' %}" alt="Preciosa, a. s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/panav.png' %}" alt="Panav a.s." class="img-fluid">
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/koh-i-noor-formex.png' %}" alt="KOH-I-NOOR Formex s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/doosan-skoda-power.png' %}" alt="Doosan Škoda Power s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/sigma-pumpy-hranice.png' %}" alt="Sigma Pumpy Hranice, s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/bühler.png' %}" alt="Bühler CZ s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/maxion-wheels-czech.png' %}" alt="Maxion Wheels Czech s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/slovnaft.png' %}" alt="SLOVNAFT MONTÁŽE A OPRAVY A.S." class="img-fluid">
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/trinecke-zelezarny.png' %}" alt="Třinecké železárny, a. s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/constellium-extrusions.png' %}" alt="Constellium Extrusions Děčín s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/explosia.png' %}" alt="Explosia a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/isolit-bravo.png' %}" alt="Isolit-Bravo, spol. s r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/martia.png' %}" alt="MARTIA a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/racio.png' %}" alt="RACIO, s.r.o." class="img-fluid">
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/lonza-biotec.png' %}" alt="Lonza Biotec spol. s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/mnd.png' %}" alt="MND Drilling & Services a.s." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/epo-gearmot.png' %}" alt="EPO GEARMOT s.r.o." class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/honeywell-aerospace.png' %}" alt="Honeywell Aerospace" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <img src="{% static 'img/collaboration/cidem.png' %}" alt="CIDEM Hranice, a.s." class="img-fluid">
    </div>
</div>