{% load static %}
<div class="nadpis">
    <h2>Spolupracujeme</h2>
</div>
<div class="row p-3" id="spolupracujeme">
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="http://www.ostroj.cz/" target="_blank"><img src="{% static 'img/collaboration/ostroj.png' %}" alt="OSTROJ a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.skoda-auto.cz/" target="_blank"><img src="{% static 'img/collaboration/skoda_auto.png' %}" alt="ŠKODA AUTO a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.veolia.cz/" target="_blank"><img src="{% static 'img/collaboration/veolia.png' %}" alt="VEOLIA VODA" class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.aco.cz/" target="_blank"><img src="{% static 'img/collaboration/aco.png' %}" alt="ACO Industries k.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.johncrane.com/" target="_blank"><img src="{% static 'img/collaboration/john-crane.png' %}" alt="John Crane a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.bbapumps.com/cz/" target="_blank"><img src="{% static 'img/collaboration/bba.png' %}" alt="BBA Pumps Hranice, s.r.o." class="img-fluid"></a>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://motorlucina.cz/" target="_blank"><img src="{% static 'img/collaboration/motor-lucina.png' %}" alt="Motor Lučina spol. s r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://hankestrojirna.cz/" target="_blank"><img src="{% static 'img/collaboration/hanke-strojirna.png' %}" alt="HANKE STROJÍRNA, s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.tatra.cz/" target="_blank"><img src="{% static 'img/collaboration/tatra-trucks.png' %}" alt="TATRA TRUCKS a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.czub.cz/" target="_blank"><img src="{% static 'img/collaboration/ceska-zbrojovka.png' %}" alt="Česká zbrojovka a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.kavalier.cz/" target="_blank"><img src="{% static 'img/collaboration/kavalier-tec.png' %}" alt="KAVALIER TEC, s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="http://pos.cz/" target="_blank"><img src="{% static 'img/collaboration/policske-strojirny.png' %}" alt="Poličské strojírny a.s." class="img-fluid"></a>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://new.siemens.com/cz/cs.html" target="_blank"><img src="{% static 'img/collaboration/siemens.png' %}" alt="SIEMENS AG" class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="http://www.cezep.cz/" target="_blank"><img src="{% static 'img/collaboration/cez.png' %}" alt="ČEZ Energetické produkty, s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.tatrametalurgie.cz/" target="_blank"><img src="{% static 'img/collaboration/tatra-metalurgie.png' %}" alt="Tatra Metalurgie a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.fmt-group.com/" target="_blank"><img src="{% static 'img/collaboration/fmt-group.png' %}" alt="F.M.T. Group s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.preciosa.com/cs/home" target="_blank"><img src="{% static 'img/collaboration/preciosa.png' %}" alt="Preciosa, a. s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.panav.cz/" target="_blank"><img src="{% static 'img/collaboration/panav.png' %}" alt="Panav a.s." class="img-fluid"></a>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.kinmachinery.cz/formex/o-spolecnosti" target="_blank"><img src="{% static 'img/collaboration/koh-i-noor-formex.png' %}" alt="KOH-I-NOOR Formex s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="http://www.doosanskodapower.com/cz/" target="_blank"><img src="{% static 'img/collaboration/doosan-skoda-power.png' %}" alt="Doosan Škoda Power s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="http://www.sigmapumpy.com/" target="_blank"><img src="{% static 'img/collaboration/sigma-pumpy-hranice.png' %}" alt="Sigma Pumpy Hranice, s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.buhlercz.cz/cz/" target="_blank"><img src="{% static 'img/collaboration/bühler.png' %}" alt="Bühler CZ s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.rozjedtonamax.cz/Sites/Maxion/" target="_blank"><img src="{% static 'img/collaboration/maxion-wheels-czech.png' %}" alt="Maxion Wheels Czech s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://slovnaft.sk/sk/o-nas/nasa-spolocnost/dcerske-spolocnosti-slovnaft/slovnaft-montaze-a-opravy-a-s/" target="_blank"><img src="{% static 'img/collaboration/slovnaft.png' %}" alt="SLOVNAFT MONTÁŽE A OPRAVY A.S." class="img-fluid"></a>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.trz.cz/" target="_blank"><img src="{% static 'img/collaboration/trinecke-zelezarny.png' %}" alt="Třinecké železárny, a. s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://hard-softalloys.constellium.com/cs" target="_blank"><img src="{% static 'img/collaboration/constellium-extrusions.png' %}" alt="Constellium Extrusions Děčín s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://explosia.cz/" target="_blank"><img src="{% static 'img/collaboration/explosia.png' %}" alt="Explosia a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.isolitbravo.cz/cs/uvod" target="_blank"><img src="{% static 'img/collaboration/isolit-bravo.png' %}" alt="Isolit-Bravo, spol. s r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="http://www.martia.cz/" target="_blank"><img src="{% static 'img/collaboration/martia.png' %}" alt="MARTIA a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.racio.cz/cs" target="_blank"><img src="{% static 'img/collaboration/racio.png' %}" alt="RACIO, s.r.o." class="img-fluid"></a>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.lonza.com/cz/home/Spolecnost" target="_blank"><img src="{% static 'img/collaboration/lonza-biotec.png' %}" alt="Lonza Biotec spol. s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.mnd-drilling.eu/cs/" target="_blank"><img src="{% static 'img/collaboration/mnd.png' %}" alt="MND Drilling & Services a.s." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.epogm.com/" target="_blank"><img src="{% static 'img/collaboration/epo-gearmot.png' %}" alt="EPO GEARMOT s.r.o." class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://aerospace.honeywell.com/en" target="_blank"><img src="{% static 'img/collaboration/honeywell-aerospace.png' %}" alt="Honeywell Aerospace" class="img-fluid"></a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto d-flex justify-content-center">
        <a href="https://www.cidem.cz/" target="_blank"><img src="{% static 'img/collaboration/cidem.png' %}" alt="CIDEM Hranice, a.s." class="img-fluid"></a>
    </div>
</div>